<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hello admin </title>
</head>
<body>
   <h2>admin page</h2>
    <div class="selectBox">
            <%- selectBox %>
        </select>
     </div>
     <h1>The list of peoduct</h1>
     <div> <%- result %> </div>
</body>
</html>