<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="post" class="form-login">
            <h1> Welcome to ATM shop</h1>		
            <div class ="form-text">
                
                <input type="text" name="username" required placeholder="">
                <label for="username">Username</label>
            </div>
            <div class="form-text">
                <input type="password" name="password" required placeholder="">
                <label for="password">Password</label>
            </div>
            <button name="login">Login</button>
            <br>	
        </form>
    </div>
</body>
</html>