<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
           @import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url("https://lh3.googleusercontent.com/ZokGCSsn0836X4Dt0SBNQYzavqQcGL-WDeMBNOSGqe5MGK9dp_JATWJTyWk4eRIFW4xhVovtugcq0Ynssvejel3Nc_v7T8c61UWz2LAL9SbHaJ8kTs5KRc_pAvmuJut1eMNQmw-e");
        background-size: cover;
}
h1{
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0.5em 0;
}
div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* glass effect */
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    border-radius: 1em;
}
input{
    width: 100%;
    padding: 5px 1px 5px 0px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1em;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}
button[type="submit"]{
    width: 50%;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}
    </style>
</head>
<body>
    <h1>update Product</h1>
    <div>
        <%- product_detail %>
    </div>
    <a href="http://127.0.0.1:3000/users">Exit</a>
</body>
</html>